<!-- Toolbar -->
<div class="toolbar" role="banner">
 
  <span>Dialectai Test</span>

   <div class="buttons">
    <button class="btn-outline btn-standard" style="width: auto">
      <a routerLink="/create-product" routerLinkActive="active">Ajouter un produit +</a>
    </button>
    <button class="btn-outline btn-standard" style="width: auto">
      <a routerLink="/product-list" routerLinkActive="active">Lister les produits</a>
    </button>
   </div>
   
</div>
  
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>