:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #24292e;
  color: white;
  padding: .5rem 1rem;
  font-weight: 500;
  font-size: 24px;  
}

  

  .button{
    float: right;
}

 

  .prods-wrapper {
    background-color: #24292e;
    color: white;
    padding: 0.3rem 0.2rem;
    font-weight: 600;
    border: none;
    width: auto;
    border-radius: 5px;
    min-width: 50%;
    position: relative;
  }


