.prod-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-bottom: 1px solid #3c3a3a;
}

.prod-attributes {
    text-align: center;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

// .prod-img{
// }

